<table class="table expenses table-bordered table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Paid by</th>
      <th>Amount</th>
      <th>Participants</th>
      <th class="controls"></th>
    </tr>
  </thead>

  <tbody>
    {{#each expense in controller}}
      {{#expense-row expense=expense}}
      {{/expense-row}}
    {{/each}}
  </tbody>
</table>