<table class="table expenses table-bordered table-hover">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th>Description</th>
      <th>Paid by</th>
      <th>Participants</th>
      <th>Amount</th>
      <th class="controls"></th>
    </tr>
  </thead>

  <tbody>
    {{#each expense in controller}}
      {{#expense-row expense=expense}}
      {{/expense-row}}
    {{else}}
      <tr>
        <td colspan="5">No expenses added yet</td>
      </tr>
    {{/each}}
  </tbody>
</table>