<h3>Payments pending</h3>
<ul class="list-unstyled">
  {{#each payment in paymentsPending}}
    {{#payment-pending payment=payment}}{{/payment-pending}}
  {{/each}}
</ul>

<h3>Balances</h3>
<table class="table expenses table-bordered table-hover">
  <thead>
    <tr>
      <th>Person</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    {{#each person in model.people}}
      {{#person-balance person=person}}
      {{/person-balance}}
    {{/each}}
  </tbody>
</table>