<h2>Expenses</h2>

<form>
  {{input class="amount" value=amount placeholder="Amount"}}

  <label for="paid-by">Paid by</label>
  {{view 'select'
    id='paid-by'
    value=paidBy
    content=people
    optionValuePath="content.id"
    optionLabelPath="content.name"
  }}
  <button {{action 'addExpense'}} class="submit" type="submit">Add</button>
</form>

{{#link-to "expenses"}}Summary{{/link-to}}
{{#link-to "expenses.list"}}List{{/link-to}}

{{outlet}}