<ul class="people">
  {{#each person in model}}
    {{#listed-person person=person}}
    {{/listed-person}}
  {{/each}}
</ul>

<form>
  {{input class="name" value=name placeholder="Name"}}
  <button {{action 'addPerson'}} class="submit" type="submit">Add</button>
</form>